doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.anychart.com/css/latest/anychart-ui.css')
  body
      block content
      //script(src="/javascripts/anystock.min.js")https://code.highcharts.com/stock/highstock.js
      script(src="https://code.jquery.com/jquery-3.1.1.min.js")
      //script(src="https://code.highcharts.com/stock/highstock.js")
      script(src="https://code.highcharts.com/highcharts.js")
      script(src="/javascripts/main.js")
